body{
 font-family: 'Roboto', sans-serif;
}
.container{
    text-align: center; 
    background: rgb(0, 110, 197);  
}
.bar-icon{
    font-size: 30px;
    margin: 10px auto;
    color: white;
}
.location{
    border: none;
    margin: 0 auto;
    padding: 4px 8px;
    margin-left: 30px;
    width: 250px;
}
.container h1{
    color: white;
    font-size: 26px;
    margin: 50px auto;
}
.container h4{
    font-size: 80px;
    margin-top: -45px;
}
.container h3{
    color: white;
    font-size: 32px;
}
.container .col-sm-6{
    margin-top: 30px;
    
}
.col-sm-2{
    color: white;
    
    
}
.col-sm-2 h2{
    font-size: 16px;

}
.emoji{
    font-size: 30px;
}
span{
    color: yellow;
    font-size: 18px;
}
 h3 a{
    text-decoration: none;
    color: white;
}
.content .day{
    color: white;
    font-size: 26px;
    
}
.content .time{
    color: yellow;
    font-size: 20px;
    font-weight: 600;
}
button{
    border:none;
}

.github-link a{
    margin-left: 300px;
    text-decoration: none;
    font-size: 24px;
    
}